<!DOCTYPE html>
<html>
  <head>
    <title>Shoppingfy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="my-navbar navbar navbar-light navbar-fixed-top navbar-inverse navbar-flex">
    <% if !current_user %>
      <%= link_to image_tag(asset_path("shoppingfy1.png"), class: "logo"), "/stores" %>
      <a class="nav-link" href="/users/new">Create Account</a>
      <a class="nav-link" href="/login">Login as Admin</a>
    <% else %>
        <%= link_to image_tag(asset_path("shoppingfy1.png"), class: "logo"), "/stores" %>
        <a class="nav-link" href="/users">My Profile</a>
        <a class="nav-link" href="/stores/new">Create Store</a>
        <a class="nav-link" href="/logout">Logout</a>
    <% end %>
  </header>
  <div class="move-da-nav-bar">
    <%= yield %>
  </div>
    
  </body>
</html>
