<!DOCTYPE html>
<html>
  <head>
    <title>Shoppingfy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse navbar-flex">
  <% if !current_user %>
    <a class="nav-link" href="/users/new">Create Account</a>
    <a class="nav-link" href="/login">Login</a>
  <% else %>
  <a href="/users">My Profile</a>
    <a href="/stores/new">Create Store</a>
    <a href="/logout">Logout</a>
  <% end %>
  </header>
  <div class="move-da-nav-bar">
    <%= yield %>
  </div>
    
  </body>
</html>
